trunk/hector/MonodocEditor/Schemas/ecma.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- definition of attributes -->
<xs:attribute name="cref" type="xs:string"/>
<xs:attribute name="FullName" type="xs:string"/>
<xs:attribute name="FullNameSP" type="xs:string"/>
<xs:attribute name="Language" type="xs:string" />
<xs:attribute name="lang" type="xs:string"/>
<xs:attribute name="langword" type="xs:string"/>
<xs:attribute name="Library" type="xs:NMTOKEN"/>
<xs:attribute name="MemberName" type="xs:NMTOKEN"/>
<xs:attribute name="name" type="xs:string"/>
<xs:attribute name="Name" type="xs:string"/>
<xs:attribute name="qualify" type="xs:boolean" default="false"/>
<xs:attribute name="SampleID" type="xs:string"/>
<xs:attribute name="SnippetID" type="xs:string"/>
<xs:attribute name="subset" type="xs:string" fixed="none"/>
<xs:attribute name="Value" type="xs:string"/>
<xs:attribute name="term" type="xs:string"/>
<xs:attribute name="type" type="xs:string"/>
<xs:attribute name="Type" type="xs:string"/>

<!-- definition of simple elements -->
<xs:element name="AssemblyName" type="xs:string"/>
<xs:element name="AssemblyPublicKey" type="xs:string"/>
<xs:element name="AssemblyVersion" type="xs:string"/>
<xs:element name="AssemblyCulture" type="xs:string"/>
<xs:element name="BaseTypeName" type="xs:string"/>
<xs:element name="Excluded" type="xs:boolean"/>
<xs:element name="ExcludedBaseTypeName" type="xs:string"/>
<xs:element name="ExcludedLibrary" type="xs:string"/>
<xs:element name="ExcludedLibraryName" type="xs:string"/>
<xs:element name="ExcludedTypeName" type="xs:string"/>
<xs:element name="AttibuteName" type="xs:string"/>
<xs:element name="i" type="xs:string"/>
<xs:element name="InterfaceName" type="xs:string"/>
<xs:element name="MemberOfLibrary" type="xs:string"/>
<xs:element name="MemberType" type="xs:string"/>
<xs:element name="MemberValue" type="xs:string"/>
<xs:element name="ReturnType" type="xs:string"/>
<xs:element name="TypeExcluded" type="xs:boolean" default="0"/>
<xs:element name="ThreadingSafeStatement" type="xs:string"/>

<!-- definition of complex elements -->
<xs:element name="altcomplaint">
  <xs:complexType>
    <xs:attribute ref="cref" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="altmember">
  <xs:complexType>
    <xs:attribute ref="cref" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="AssemblyInfo">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="AssemblyName"/>
      <xs:element ref="AssemblyPublicKey"/>
      <xs:element ref="AssemblyVersion"/>
      <xs:element ref="AssemblyCulture"/>
      <xs:element ref="Attributes"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Attribute">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="AttributeName"/>
      <xs:element ref="Excluded"/>
      <xs:element ref="ExcludedTypeName" minOccurs="0"/>
      <xs:element ref="ExcludedLibraryName" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Attributes">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="Attribute" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Base">
  <xs:complexType>
    <xs:sequence minOccurs="0">
      <xs:element ref="BaseTypeName"/>
      <xs:element ref="ExcludedBaseTypeName"/>
      <xs:element ref="ExcludedLibraryName"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="block">
  <xs:complexType mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="block"/>
      <xs:element ref="c"/>
      <xs:element ref="code"/>
      <xs:element ref="list"/>
      <xs:element ref="para"/>
      <xs:element ref="paramref"/>
      <xs:element ref="see"/>
      <xs:element ref="subscript"/>
      <xs:element ref="sup"/>
      <xs:element ref="pi"/>
    </xs:choice>
    <xs:attribute ref="subset" use="required"/>
    <xs:attribute ref="type" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="c">
  <xs:complexType mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="code"/>
      <xs:element ref="para"/>
      <xs:element ref="paramref"/>
      <xs:element ref="see"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="code">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="lang"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<xs:element name="description">
  <xs:complexType mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="c"/>
      <xs:element ref="block"/>
      <xs:element ref="paramref"/>
      <xs:element ref="para"/>
      <xs:element ref="SPAN"/>
      <xs:element ref="see"/>
      <xs:element ref="sub"/>
      <xs:element ref="permille"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="Docs">
  <xs:complexType>
    <xs:sequence minOccurs="0">
      <xs:element ref="summary"/>
      <xs:element ref="altmember"/>
      <xs:element ref="altcompliant"/>
      <xs:element ref="param" maxOccurs="unbounded" />
      <xs:element ref="returns"/>
      <xs:element ref="value"/>
      <xs:element ref="exception" maxOccurs="unbounded"/>
      <xs:element ref="threadsafe"/>
      <xs:element ref="remarks"/>
      <xs:element ref="example"/>
      <xs:element ref="permision"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="example">
  <xs:complexType mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="para"/>
      <xs:element ref="code"/>
      <xs:element ref="c"/>
      <xs:element ref="codelink"/>
      <xs:element ref="see"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="exception">
  <xs:complexType mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="block"/>
      <xs:element ref="para"/>
      <xs:element ref="paramref"/>
      <xs:element ref="see"/>
      <xs:element ref="SPAN"/>
    </xs:choice>
    <xs:attribute ref="cref" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="Interface">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="InterfaceName"/>
      <xs:element ref="Excluded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Interfaces">
  <xs:complexType>
    <xs:choice>
      <xs:element ref="Interface" minOccurs="0" maxOccurs="unbounded"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="item">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="term"/>
      <xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Libraries">
  <xs:complexType>
    <xs:choice>
      <xs:element ref="Types" maxOccurs="unbounded"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="list">
  <xs:complexType>
    <xs:sequence minOccurs="0">
      <xs:element ref="listheader"/>
      <xs:element ref="item" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="type" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="listheader">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="term"/>
      <xs:element ref="description" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="MemberSignature">
  <xs:complexType>
    <xs:attribute ref="Language" use="required"/>
    <xs:attribute ref="Value" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="Member">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="MemberSignature" maxOccurs="unbounded"/>
      <xs:element ref="MemberType"/>
      <xs:element ref="Attributes" minOccurs="0"/>
      <xs:element ref="ReturnValue"/>
      <xs:element ref="Parameters"/>
      <xs:element ref="MemberValue" minOccurs="0"/>
      <xs:element ref="Docs"/>
      <xs:element ref="Excluded"/>
      <xs:element ref="ExcludedLibrary" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="MemberName" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="Members">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="Member" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="para">
  <xs:complexType mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="block"/>
      <xs:element ref="see"/>
      <xs:element ref="list"/>
      <xs:element ref="paramref"/>
      <xs:element ref="c"/>
      <xs:element ref="onequarter"/>
      <xs:element ref="sub"/>
      <xs:element ref="sup"/>
      <xs:element ref="SPAN"/>
      <xs:element ref="superscript"/>
      <xs:element ref="permille"/>
      <xs:element ref="pi"/>
      <xs:element ref="theta"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="param">
  <xs:complexType mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="c"/>
      <xs:element ref="see"/>
      <xs:element ref="block"/>
      <xs:element ref="paramref"/>
      <xs:element ref="para"/>
      <xs:element ref="SPAN"/>
    </xs:choice>
    <xs:attribute ref="name" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="paramref">
  <xs:complexType>
    <xs:attribute ref="name" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="Parameter">
  <xs:complexType >
    <xs:sequence>
      <xs:element ref="Attributes" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute ref="Name" use="required"/>
    <xs:attribute ref="Type" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="Parameters">
  <xs:complexType >
    <xs:sequence>
      <xs:element ref="Parameter" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="permission">
  <xs:complexType mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="block"/>
      <xs:element ref="para"/>
      <xs:element ref="paramref"/>
      <xs:element ref="see"/>
    </xs:choice>
    <xs:attribute ref="cref" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="remarks">
  <xs:complexType mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="block"/>
      <xs:element ref="c"/>
      <xs:element ref="code"/>
      <xs:element ref="para"/>
      <xs:element ref="paramref"/>
      <xs:element ref="see"/>
      <xs:element ref="list"/>
      <xs:element ref="SPAN"/>
      <xs:element ref="pre"/>
      <xs:element ref="PRE"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="returns">
  <xs:complexType mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="list"/>
      <xs:element ref="para"/>
      <xs:element ref="paramref"/>
      <xs:element ref="see"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="ReturnValue">
  <xs:complexType>
    <xs:choice>
      <xs:element ref="ReturnType" minOccurs="0"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="see">
  <xs:complexType>
    <xs:attribute ref="cref"/>
    <xs:attribute ref="langword"/>
    <xs:attribute ref="qualify"/>
  </xs:complexType>
</xs:element>

<xs:element name="SPAN">
  <xs:complexType mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="block"/>
      <xs:element ref="para"/>
      <xs:element ref="paramref"/>
      <xs:element ref="see"/>
      <xs:element ref="SPAN"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="sub">
  <xs:complexType mixed="true">
    <xs:choice>
      <xs:element ref="paramref" minOccurs="0" maxOccurs="unbounded"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="subscript">
  <xs:complexType>
    <xs:attribute ref="term" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="summary">
  <xs:complexType mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="block"/>
      <xs:element ref="para"/>
      <xs:element ref="see"/>
      <xs:element ref="list"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="sup">
  <xs:complexType mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="i"/>
      <xs:element ref="paramref"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="term">
  <xs:complexType mixed="true">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="block"/>
      <xs:element ref="c"/>
      <xs:element ref="see"/>
      <xs:element ref="para"/>
      <xs:element ref="paramref"/>
      <xs:element ref="sup"/>
      <xs:element ref="pi"/>
      <xs:element ref="theta"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="threadsafe">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="para" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Type">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="TypeSignature" maxOccurs="unbounded"/>
      <xs:element ref="MemberOfLibrary"/>
      <xs:element ref="AssemblyInfo"/>
      <xs:element ref="ThreadingSafeStatement" minOccurs="0"/>
      <xs:element ref="Docs"/>
      <xs:element ref="Base"/>
      <xs:element ref="Interfaces"/>
      <xs:element ref="Attributes" minOccurs="0"/>
      <xs:element ref="Members"/>
      <xs:element ref="TypeExcluded"/>
    </xs:sequence>
    <xs:attribute ref="Name" use="required"/>
    <xs:attribute ref="FullName" use="required"/>
    <xs:attribute ref="FullNameSP" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="Types">
  <xs:complexType>
    <xs:choice>
      <xs:element ref="Type" maxOccurs="unbounded"/>
    </xs:choice>
    <xs:attribute ref="Library" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="TypeSignature">
  <xs:complexType>
    <xs:attribute ref="Language" use="required"/>
    <xs:attribute ref="Value" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="value">
  <xs:complexType mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="para"/>
      <xs:element ref="list"/>
      <xs:element ref="see"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<!-- New elements defined in ECMA-335 4th edition-->

<xs:element name="superscript">
  <xs:complexType>
    <xs:attribute ref="term" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="codelink">
  <xs:complexType>
    <xs:attribute ref="SampleID" use="required"/>
    <xs:attribute ref="SnippetID" use="required"/>
  </xs:complexType>
</xs:element>

<xs:element name="pre">
  <xs:complexType>
  </xs:complexType>
</xs:element>

<xs:element name="PRE">
  <xs:complexType>
  </xs:complexType>
</xs:element>

<xs:element name="permille">
  <xs:complexType>
  </xs:complexType>
</xs:element>

<xs:element name="theta">
  <xs:complexType>
  </xs:complexType>
</xs:element>

<xs:element name="pi">
  <xs:complexType>
  </xs:complexType>
</xs:element>

<xs:element name="onequarter">
  <xs:complexType>
  </xs:complexType>
</xs:element>

</xs:schema>